$primary-box-color: darkgray;
$button-background-color: lightgray;
$button-color: #673ab7;

h1 {
  margin-top: 0.5%;
  padding-top: 0.5%;
  padding-left: 0.5%;
  font-weight: 500;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 255, 0, 1); // margin-left: 20%;
}

.background {
  display: flex;
  flex-direction: row;
}

.main {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

.live-feed-block {
  width: 100%;
  display: flex;
  flex-direction: column;

  .live-feed-container {
    display: flex;
    flex-direction: row;

    .live-feed {
      width: 50%;
      // height: 0;
      // padding-bottom: 50%;
      // position: relative;
      // position: relative;
      display: inline-block;
      margin: 5px;
      border: 1px solid #ccc;

      img {
        // position: absolute;
        width: 100%;
        // height: 100%; // Fix for camera 2 being too zoomed in
        // margin-top: 19%;
        // margin-bottom: 19%;
      }

      // #cam2 {
      //   // Fix for camera 2 being too zoomed in
      //   margin-top: 19%;
      //   margin-bottom: 19%;
      // }
    }
  }

  .top-row-feed-settings-live {
    width: 100%;
    display: flex;
    flex-direction: row;

    mat-button-toggle {
      width: 50%;
      padding: 5px;
      margin: 5px;
      background-color: $button-background-color;
      color: $button-color;
      border-color: $button-color;

      &:active {
        background-color: $button-color;
        color: white;
      }
    }

    mat-form-field {
      width: 50%;
      height: 30px;
      margin-right: 2%;
      mat-label {
        color: black;
        font-size: 18px;
      }
    }
  }

  #keyboard {
    height: 200px;
    padding-left: 5px;
    padding-right: 2px;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom-row-feed-settings-live {
    width: 100%;
    display: flex;
    flex-direction: row;

    mat-button-toggle {
      width: 50%;
      padding: 5px;
      margin: 5px;
      background-color: $button-background-color;
      color: $button-color;
      border-color: $button-color;

      &:active {
        background-color: $button-color;
        color: white;
      }
    }
  }

  .floating-island {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    display: inline-flex;

    #livestream-toggle {
      width: 100%;
    }

    .live-feed-settings {
      margin: 5px;
      padding: 10px;
      background-color: $primary-box-color;
      border: 1px solid #ccc;
      width: 75%;
      display: flex;
      flex-wrap: wrap;

      .top-row-feed-settings,
      .bottom-row-feed-settings {
        width: 100%;
        display: flex;
        margin-bottom: 10px;

        mat-form-field {
          width: 100%;
          height: 50px;

          mat-label {
            color: black;
            font-size: 18px;
          }
        }
      }

      .bottom-row-feed-settings {
        display: inline-flex;

        .bottom-row-right-feed-settings {
          width: 50%;

          input {
            width: 100%;
          }

          .bottom-row-right-bottom-feed-settings {
            display: flex;
            width: 100%;
            margin-top: 20px;

            mat-button-toggle {
              width: 100%;
              padding: 5px;
              margin: 5px;
              background-color: $button-background-color;
              color: $button-color;
              border-color: $button-color;

              &:active {
                background-color: $button-color;
                color: white;
              }
            }
          }
        }

        .bottom-row-left-feed-settings {
          width: 50%;

          input {
            width: 100%;
          }

          .bottom-row-left-bottom-feed-settings {
            display: flex;
            margin-top: 20px;

            mat-button-toggle {
              width: 50%;
              padding: 5px;
              margin: 5px;
              background-color: $button-background-color;
              color: $button-color;
              border-color: $button-color;

              &:active {
                background-color: $button-color;
                color: white;
              }
            }
          }
        }

        mat-button-toggle {
          width: 50%;
          padding: 5px;
          margin: 5px;
          background-color: $button-background-color;
          color: $button-color;
          border-color: $button-color;

          &:active {
            background-color: $button-color;
            color: white;
          }
        }
      }
    }
  }

  .function-settings {
    margin: 5px;
    padding: 10px;
    background-color: $primary-box-color;
    border: 1px solid #ccc;
    width: 18%;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    mat-button-toggle {
      width: 92%;
      padding: 5px;
      margin: 5px;
      background-color: $button-background-color;
      color: $button-color;
      border-color: $button-color;

      &:active {
        background-color: $button-color;
        color: white;
      }
    }

    mat-form-field {
      width: 95%;
    }
  }

  .recording-settings {
    width: 23%;
    margin: 5px;
    padding: 10px;
    background-color: $primary-box-color;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;

    .manual-row {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .camera-settings {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      div {
        width: 100%;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 5px;
        margin: 5px;
      }

      mat-form-field {
        width: 100%;
        height: 70px;

        // margin-top: 20px;
        mat-label {
          color: black;
          font-size: 18px;
        }
      }

      .avi-div {
        width: 98%;
        display: inline-flex;
        p {
          width: 20%;
        }
        mat-button-toggle-group {
          width: 80%;
          margin-left: 10%;
          border-color: $button-color;
          mat-button-toggle {
            width: 100%;
            background-color: $button-background-color;
            color: $button-color;
            border-color: $button-color;
          }
          .mat-button-toggle-checked {
            background-color: $button-color;
            color: white;
          }
        }
      }
    }

    .toggle_button {
      width: 100%;
      padding: 5px;
      margin: 5px;
      background-color: $button-background-color;
      color: $button-color;
      border-color: $button-color;
      text-wrap: pretty;
      &:active {
        background-color: $button-color;
        color: white;
      }
    }
  }
}


.hist-feed {
  display: inline-block;
  margin: 5px;
  border: 1px solid #ccc;

  img {
    // position: absolute;
    width: 100%;
    // height: 100%; // Fix for camera 2 being too zoomed in
    // margin-top: 19%;
    // margin-bottom: 19%;
  }

}

#hist_max {
  position: relative;
  right: -5%;
  top: 50%;
  color: $button-background-color;
  font-weight: 600;
  font-size: 16pt;
}