<div class="main">
  <h1>WormsPy <a style="font-size: medium">beta v2.0</a></h1>
  <div class="background">
    <div class="live-feed-block">
      <div class="live-feed-container">
        <div class="live-feed" *ngIf="isLiveFeedEnabled">
          <img [src]="liveFeedUrlNormal" alt="" />
        </div>
        <div class="live-feed" *ngIf="isLiveFeedEnabled">
          <img id="cam2" [src]="liveFeedUrlFluorescent" alt="" />
        </div>
      </div>
      <div class="floating-island">
        <div class="recording-settings" *ngIf="isLiveFeedEnabled">
          <img src="assets/images/keyboardinput.png" alt="" id="keyboard">
          <mat-button-toggle id="recordButton" (click)="toggleManualMode()">{{
            manualEnabled ? "Disable Manual Mode" : "Enable Manual Mode"
            }}</mat-button-toggle>
        </div>
        <div class="live-feed-settings" *ngIf="!isLiveFeedEnabled">
          <div class="top-row-feed-settings">
            <mat-form-field>
              <mat-label>Select Left Camera </mat-label>
              <mat-select [(value)]="leftCamera" [disabled]="isLiveFeedEnabled">
                <mat-option value="1">Camera 1</mat-option>
                <mat-option value="2">Camera 2</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Select Right Camera </mat-label>
              <mat-select [(value)]="rightCamera" [disabled]="isLiveFeedEnabled">
                <mat-option value="1">Camera 1</mat-option>
                <mat-option value="2">Camera 2</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="bottom-row-feed-settings">
            <div class="bottom-row-left-feed-settings">
              <mat-form-field class="example-full-width">
                <mat-label>Select DLC node (optional)</mat-label>
                <input matInput type="number" [formControl]="nodeIndex" [disabled]="isLiveFeedEnabled"
                  (ngModelChange)="sendNodeIndex()" />
              </mat-form-field>
              
            </div>
            <div class="bottom-row-right-feed-settings">
              <!-- <mat-form-field class="example-full-width">
                <mat-label>Serial Port</mat-label>
                <input matInput type="text" value="com4" [formControl]="serialInput" [disabled]="isLiveFeedEnabled" />
              </mat-form-field> -->
            </div>
          </div>
          <div class="bottom-row-feed-settings">
            <mat-button-toggle (click)="toggleLiveFeed()" id="livestream-toggle">{{
              isLiveFeedEnabled ? "Stop Live Feed" : "Start Live Feed"
              }}</mat-button-toggle>
            <!-- </div> -->
          </div>
        </div>
        <div class="live-feed-settings" *ngIf="isLiveFeedEnabled">
          <div class="top-row-feed-settings-live">
            <mat-form-field>
              <mat-label>Select Tracking Algorithm </mat-label>
              <mat-select [(value)]="trackingAlgorithm" [disabled]="isTrackingEnabled">
                <mat-option value="0">Threshold Bright Background</mat-option>
                <mat-option value="1">Threshold Dark Background</mat-option>
                <mat-option value="2">DeepLabCut</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-button-toggle (click)="toggleTracking()">{{
              isTrackingEnabled ? "Disable Tracking" : "Enable Tracking"
              }}</mat-button-toggle>

          </div>
          <div class="bottom-row-feed-settings-live">
            <mat-button-toggle (click)="toggleAutofocus()">{{
              isAutofocusEnabled ? "Disable FocusLock" : "Enable FocusLock"
              }}</mat-button-toggle>
            <mat-button-toggle (click)="toggleLiveFeed()">{{
              isLiveFeedEnabled ? "Stop Live Feed" : "Start Live Feed"
              }}</mat-button-toggle>
          </div>
        </div>
        <div class="recording-settings" *ngIf="isLiveFeedEnabled">
          <div class="camera-settings">
            <!-- <div>
              <p>Select video folder</p>
              <input type="file" name="folder" id="folder" multiple webkitdirectory
                (change)="selectDirectoryRight(directory.files)" #directory />
            </div> -->
            <mat-form-field class="example-full-width">
              <mat-label>Directory Path</mat-label>
              <input matInput type="text" placeholder="C:/user/steve/documents/wormspy/" [formControl]="folder" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Filename</mat-label>
              <input matInput type="text" placeholder="recording1" [formControl]="filename" />
            </mat-form-field>
          </div>
          <mat-button-toggle id="recordButton" (click)="toggleRecording()">{{
            isRecording ? "Stop Recording" : "Start Recording"
            }}</mat-button-toggle>
        </div>
        <!-- <div class="recording-settings" *ngIf="isLiveFeedEnabled">
          <div class="camera-settings">
            <h4>Right Camera Settings</h4>
            <mat-form-field class="example-full-width">
              <mat-label>Exposure</mat-label>
              <input matInput type="number" placeholder="10000" [formControl]="flourExposure" />
            </mat-form-field>
            <mat-form-field class="example-full-width" id="gain">
              <mat-label>Gain</mat-label>
              <input matInput type="number" placeholder="0" [formControl]="flourGain" />
            </mat-form-field>
          </div>
          <mat-button-toggle id="recordButton" (click)="updateFlourSettings()">Update Settings</mat-button-toggle>
        </div> -->
        <div class="recording-settings" *ngIf="isLiveFeedEnabled">
          <div class="hist-feed">
            <img [src]="liveFeedUrlHistogram" alt="" id="hist">
            <!-- <img src="https://clipground.com/images/24-bit-png-256x256-17.png" alt="" id="hist"> -->

          </div>
          <mat-button-toggle id="recordButton" (click)="updateFlourSettings()">{{
            heatmapOn ? "Disable Heatmap" : "Enable Heatmap"
            }}</mat-button-toggle>
        </div>
      </div>
    </div>
  </div>
</div>